<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <!-- For FaceBook share link -->
  <!-- <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="25j8pbky"></script> -->
  <!--  -->

  <%- include('partials/nav') %>

  <div class="container">

    <div id="blogpost-container" data-pagecount="<%= count %>">

      <% blogs.forEach(blog => { %>
        <div class="blogpost">
          <h1><%= blog.title %></h1>
          <%- blog.sanitizedHtml %>
          <h6><%= blog.dateCreated %></h6>
          
          <div class="share-links">
            <!-- <div data-href="https://www.youtube.com" data-layout="" data-size="">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
            </div>
            <a href="https://twitter.com/intent/tweet?text=https://www.youtube.com/" target="_blank">
              <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="#"><i class="fa-solid fa-link"></i></a> -->

            <a target="_blank" data-href-facebook="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a target="_blank" data-href-twitter="https://www.twitter.com"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a target="_blank" data-href-linkedin="https://www.reddit.com"><i class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" data-href-copylink="https://www.youtube.com"><i class="fa-solid fa-link"></i></a>


          </div>
        </div>
      <% }) %>

    </div>

  </div>
  
  <script src="scripts/dropdown.js"></script>
  <script src="scripts/pagination.js"></script>
  <script src="scripts/share.js"></script>

</body>
</html>